/** Write your CSS in here **/
body {
  background-color: #3b3b3b;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.title {
  margin: auto;
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.buttons {
  display: flex;
  justify-content: center;
  margin: -55px;
}
button {
  border-radius: 15px;
  border: none;
  margin: 1px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
}
h1 {
  color: cornflowerblue;
  text-align: center;
}
h3 {
  margin: 0;
  padding: 10px;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}
h5 {
  text-align: right;
}
.image {
  height: 675px;
  box-shadow: 0px 0px 10px 1px black;
}
.inputDiv{
  color: black;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 70px 0 0 0;
}
.input {
  width: 75px;
  text-align: center;
}